 @import url(style.css);
@media(min-width:375px){

main{
    display: block;
}
    
fieldset input{
    display: table-cell;
    margin-left: 10px;
    margin-bottom: 20px;
}
     
form { 
    
    text-align: center;
}

button {
    margin-top: 5px;
}
    
    fieldset {
        margin-top: 20px;
    }
}